:host {
  left: 50%;
  transform: translate(-50%, -0%);
  width: 400px;
  overflow: hidden;
  position: relative;
}
.gradient {
  position: absolute;
  left: 50%;
  height: 80px;
  transform: translate(-50%, -0%);
  width: 400px;
  background: rgb(26, 50, 76);
  background: linear-gradient(
    90deg,
    rgba(26, 50, 76, 1) 0%,
    rgba(155, 132, 62, 0) 12%,
    rgba(121, 110, 66, 0) 88%,
    rgba(26, 50, 76, 1) 100%
  );
}
.list {
  display: flex;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  animation: scroll-left 30s linear infinite;
  position: absolute;
  opacity: 0;
}

.list li {
  padding: 10px;
}

.right {
  animation: scroll-right 30s linear infinite;
  top: 2.5rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(75%);
    opacity: 1;
  }
  100% {
    transform: translateX(-125%);
    opacity: 0.99;
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0.99;
  }
}

.cloned {
  animation-delay: 15s;
}
li {
  position: relative;
}
img {
  position: absolute;
  top: 0.25rem;
  left: 0rem;
  height: auto;
  width: 1.25rem;
}
span {
  padding-left: 0.8rem;
}
